.dealer {
	position: absolute;
	right:20em;
}

.dealer img {
	max-width:2em;
	max-height:2em;
}


.card {
	display: inline;
	position: absolute;
	top: 2em;
}

.holecard1 {
	left:25em;
}

.holecard1 img {
	max-height:3em;
}

.holecard2 {
	left:35em;
}

.holecard2 img {
	max-height:3em;
}

.boardcard3 {
	left:20em;
}

.boardcard3 img {
	max-height: 3em;
}

.boardcard4 {
	left:25em;
}


.boardcard4 img {
	max-height: 3em;
}


.boardcard5 {
	left:30em;
}

.boardcard5 img {
	max-height: 3em;
}


.boardcard6 {
	left:35em;
}

.boardcard6 img {
	max-height: 3em;
}


.boardcard7 {
	left:40em;
}

.boardcard7 img {
	max-height: 3em;
}


#player1 {
	height: 6em;
	border: blue solid 0.2em;
	position:relative;
}

#player2 {
	height: 6em;
	border: green solid 0.2em;
	position: relative;
}

#player3 {
	height: 6em;
	border: orange solid 0.2em;
	position: relative;
}

#player4 {
	height: 6em;
	border: gray solid 0.2em;
	position: relative;
}

#board {
	height: 6em;
	border: red solid 0.2em;
	position: relative;
}

#messages {
	height: 6em;
	border: yellow solid 0.2em;
	position: relative;
}

.buttons {
	position: absolute;
	left:60em;
}

.fold {
	position: relative;
	max-width: 6em;
	max-height: 2em;
}


.call {
	position: relative;
	max-width: 6em;
	max-height: 2em;
}



p {
	position:absolute;
}

.currentbet {
	position: absolute;
	top: 4em;
}

.stack {
	position: absolute;
	top: 2em;
}
