.card {
	display: inline;
	position: absolute;
	top: 2em;
}

.holecard1 {
	left:25em;
}

.holecard2 {
	left:35em;
}

.boardcard3 {
	left:20em;
}

.boardcard4 {
	left:25em;
}

.boardcard5 {
	left:30em;
}

.boardcard6 {
	left:35em;
}

.boardcard7 {
	left:40em;
}


#player1 {
	height: 10em;
	border: blue solid 0.2em;
	position:relative;
}

#player2 {
	height: 10em;
	border: green solid 0.2em;
	position: relative;
}

#player3 {
	height: 10em;
	border: violet solid 0.2em;
	position: relative;
}

#player4 {
	height: 10em;
	border: gray solid 0.2em;
	position: relative;
}

#board {
	height: 10em;
	border: red solid 0.2em;
	position: relative;
}

