/*.dealer {
	position: absolute;
	right:15em;
	top: 1em;
}*/

.dealer img {
	max-width:2em;
	max-height:2em;
}


.card {
	display: inline;
	position: absolute;
	top: 6em;
}

.holecard1 {
	left: 1em;
}

.holecard1 img {
	max-height:3em;
}

.holecard2 {
	left: 4em;
}

.holecard2 img {
	max-height:3em;
}

.boardcard3 {
	position: absolute;
	left:0em;
}

.boardcard3 img {
	max-height: 3em;
}

.boardcard4 {
	position: absolute;
	left:2.5em;
}


.boardcard4 img {
	max-height: 3em;
}


.boardcard5 {
	position: absolute;
	left:5em;
}

.boardcard5 img {
	max-height: 3em;
}


.boardcard6 {
	position: absolute;
	left:7.5em;
}

.boardcard6 img {
	max-height: 3em;
}


.boardcard7 {
	position: absolute;
	left:10em;
}

.boardcard7 img {
	max-height: 3em;
}

#table {
	font-weight: bold;
	color: white;
	position: fixed;
	top: 10%;
	left: 15%;
	height: 50%;
	width: 50%;
	border: 1em solid black;
	border-radius: 10em;
	background-color: #006600;

}


#player1 {
	height: 12em;
	width: 12em;
	border: blue solid 0.2em;
	position:absolute;
	left: 10%;
}

#player1 .dealer {
	position: absolute;
	right:1em;
	top: 8em;
}


#player2 {
	height: 12em;
	width: 12em;
	border: blue solid 0.2em;
	position:absolute;
	left: 10%;
	top: 60%;
}

#player2 .dealer {
	position: absolute;
	right:.5em;
}

#player3 {
	height: 12em;
	width: 12em;
	border: blue solid 0.2em;
	position:absolute;
	right: 10%;
}

#player3 .dealer {
	position: absolute;
	bottom: .5em;
	left:.5em;
}

#player4 {
	height: 12em;
	width: 12em;
	border: blue solid 0.2em;
	position:absolute;
	right: 10%;
	top: 60%;
}

#player4 .dealer {
	position: absolute;
	bottom: 2em;
	right:2em;
}

#board {
	height: 10em;
	width: 14em;
	border: red solid 0.2em;
	position: absolute;
	left: 35.6%;
	top: 30%;
}

#messages {
	height: 6em;
	width: 14em;
	border: yellow solid 0.2em;
	position: absolute;
	bottom: 1%;
	left: 35.5%;
}

.buttons {
	position: absolute;
	right: 5em;
}

.fold {
	position: relative;
	max-width: 6em;
	max-height: 2em;
}


.call {
	position: relative;
	max-width: 6em;
	max-height: 2em;
}



p {
	position:absolute;
}

.currentbet {
	position: absolute;
	top: 4em;
}

.stack {
	position: absolute;
	top: 2em;
}
